@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, rgba(101,0,94,1) 3%,
   rgb(12, 13, 14) 38%, rgb(118, 95, 125) 68%, rgb(150, 88, 175) 98%);
  animation: gradient 40s ease infinite; /* Increased duration to 30s */
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 30s -3s linear infinite; /* Increased duration to 20s */
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 46s linear reverse infinite; /* Increased duration to 36s */
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 50s -1s reverse infinite; /* Increased duration to 40s */
  opacity: 0.9;
}

@keyframes wave {
  2% {
      transform: translateX(1);
  }

  25% {
      transform: translateX(-25%);
  }

  50% {
      transform: translateX(-50%);
  }

  75% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(1);
  }
}

.btn {
  background: linear-gradient(
    92.23deg,
    #ca81c6 21.43%,
    #b936ee 50.63%,
    #0b161b 100%,
    #406aff 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.Header, .Banner, .Nav, .About, .Certificate, .Experience, .Work, .Contact, .Company, .Projects {
  position: relative;
}
.btn:hover {
  background: linear-gradient(
    92.23deg,
    #ca81c6 21.43%,
    #b936ee 50.63%,
    #0b161b 100%,
    #406aff 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #ca81c6 21.43%,
    #b936ee 50.63%,
    #0b161b 100%,
    #406aff 117.04%
  );
}

.active {
  color: #fff;
  width:40px;
  height:40px;
  margin-top: 0.70rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-primary text-xl leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[40px] mb-6 tracking-[10%] uppercase text-purple-900 ;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#743063] to-[#FF56F6] font-bold font-primary hover:from-[#521b4f] hover:to-[#8d22b7];
  }
  .section {
    @apply py-8 m-16  lg:p-20 lg:h-fit flex items-center ;
  }
}
