@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background:linear-gradient(
     90deg, rgba(24,0,36,1) 0%,
   rgba(63,83,171,1) 35%,
   rgba(0,212,255,1) 100%
    );
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 30s -3s linear infinite; 
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 46s linear reverse infinite; 
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 50s -1s reverse infinite; 
  opacity: 0.9;
}

@keyframes wave {

  50% {
      transform: translateX(-50%);
  }

  75% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(1);
  }
}

.btn {
  background:#E0B0FF;
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.Header, .Banner, .Nav, .About, .Certificate, .Experience, .Work, .Contact, .Company, .Projects {
  position: relative;
}
.btn:hover {
  background:linear-gradient(
     90deg, rgba(24,0,36,1) 0%,
   rgba(63,83,171,1) 35%,
   rgba(0,212,255,1) 100%
    );
}

.gradient,
.active {
  background:linear-gradient(
     90deg, rgba(24,0,36,1) 0%,
   rgba(63,83,171,1) 35%,
   rgba(0,212,255,1) 100%
    );
}

.active {
  color: #fff;
  width:50px;
  height:38px;
  margin-top: 0.70rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-primary text-xl leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[45px] mb-6 tracking-[10%] uppercase text-blue-200;
  }
  .h3 {
    @apply font-primary font-semibold text-[20px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-black font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text  text-blue-200 
      font-bold font-primary;
  }
  
  .section {
    @apply py-8 m-16  lg:p-20 lg:h-fit flex items-center ;
  }
}
